.navbar {
  top: 0;
  display: flex;
  position: fixed;
  min-width: 100vw;
  /* overflow: hidden; */
  align-items: center;
  padding: 0.5vh 1vw 0 1vw;
  background-color: #05445e;
}
/*>>>>>>>>>>>>>>>>>>>> nav bar logo*/
.navbar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.navbar_logo a {
  color: white;
  text-decoration: none;
}
.navbar_logo a:hover {
  color: rgb(219, 219, 219);
}
.css-1ha5wk2-MuiSvgIcon-root {
  color: greenyellow;
}
.css-1ha5wk2-MuiSvgIcon-root:hover {
  color: white;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #145da0;
}
/*>>>>>>>>>>>>>>>>>>>> nav bar item menu*/
.nav_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_item {
  padding: 1vh 1vw;
  margin: 0.5vh 1vw 1vh 1vw;
}
.nav_item a {
  text-decoration: none;
  color: white;
}

/*>>>>>>>>>>>>>>>>>>>> nav bar search*/
.nav_search_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_search {
  width: 16vw;
  border: 0;
  padding: 1vh 1vw;
}
.nav_search_menu button {
  margin-left: auto;
  margin-right: auto;
  padding: 1vh 1vw;
  border: 0;
  color: white;
  /* font-size: 2vh;
  font-weight: bold; */
  background-color: #189ab4;
}
.nav_search_menu button:hover {
  color: #05445e;
  background-color: greenyellow;
}
.nav_buttons {
  margin-left: 10vh;
  margin-right: 20vh;
}

/* >>>>>>>>>>>>>>>> profile */

.nav_profile_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 0;
  padding-right: 0.8vh;
  border-radius: 100vw;
}

.nav_profile_btn li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

.nav_profile_btn li:hover {
  background-color: grey;
}

.nav_profile_btn ul {
  position: absolute;
  background-color: #274472;
  margin-top: 0.1vh;
  padding: 1vh;
  width: 6vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 0.5vh;
}

.nav_profile_btn ul li a {
  text-decoration: none;
  color: white;
}

.nav_profile_btn button:focus + ul {
  display: block;
}

/* >>>>>>>>>>>> sign in button*/
.nav_signin_btn a {
  text-decoration: none;
  color: #0c2d48;
  font-weight: bold;
}
.nav_signin_btn button {
  border: 0;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #ddd;
}
.nav_signin_btn button:hover {
  background-color: white;
}
